:root {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #1C1A1A;
}

body {
  position: relative;
  padding: 48px 0 32px 62px;
  background-image:
  url(../../public/Bitcoin.png), 
  url(../../public/Litecoin.png),
  url(../../public/Ethereum.png);
  background-position:
  top right 44px, 
  top 277px right 282px,
  bottom right 40px;
  background-repeat: no-repeat;
}

@import url(./components/text/text.css);
@import url(./components/advantages/advantages.css);
@import url(./components/channel/channel.css);
@import url(./components/mobile-apps/mobile-apps.css);
@import url(./components/comments/comments.css);